/*Статья про обнуление https://medium.com/@stasonmars/%D1%81%D0%BE%D0%B2%D1%80%D0%B5%D0%BC%D0%B5%D0%BD%D0%BD%D1%8B%D0%B8%CC%86-%D1%81%D0%B1%D1%80%D0%BE%D1%81-css-f5816963c82b*/
/*Обнуление*/

/*Делить страницу на блоки - создаю контейнеры и либо указываю высоту контентом, либо vh (на всю страницу), и крайне редко px*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;} /*Всё в блоки, для лучшей вёрстки*/
body{
	display: flex;
	flex-direction: column;
}

html,body{ /*Привожу все шрифты к одному стилю*/
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	
	font-family: Lato;

	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;} /*Наследую настройки шрифтов для данных элементов, потому что это не происходит автоматически*/

input::-ms-clear{display: none;} /*Убираю кастомы разных браузеров по умолчанию*/
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
a{text-decoration: none;}
ul li{list-style: none;}
li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;} /*Всё заголовки "в ноль", для перестройки под макет"
/*--------------------*/


/* === Breack-point (screen resolution) === */
/* Так много точек только по тому, что у макета не было изначально мобильной и планшетной версии. Иначе, хватило бы 4 стандартных

1200px
1100px
860px
768px
600px
525px
400px
360px
*/

/* === Breack-point (screen resolution) (end)  === */


body{
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
}

.container{
	width: 100%; /*всегда на всю ширину экрана, кроме..*/
	max-width: 1200px; /*когда он становится шире 1200. На этом край*/
	margin: 0 auto; /*выравнил по центру*/
	/*padding: 0 5px; нужно было включать их изначально, но теперь уже поздно. */
}
	@media (max-width: 860px) {
		.container{
			max-width: 850px;
		}
	}


.text{
	max-width: 720px;
	margin-top: 50px;
	color: #636363;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
}


/* === Header  === */
.header{
	width: 100%;
	position: absolute; /*мог бы зафиксировать на самом верху, но тогда нужно будет body - static*/
	top: 0;
	left: 0;
	right: 0;
}

	.header__inner{
		display: flex;
		justify-content: space-between;
		align-items : center;
	}
		.header__logo{
			font-family: 'Montserrat', sans-serif;
			font-size: 30px;
			font-weight: 700;
			color: white;
			margin-top: 30px;
			margin-left: 25px;
			margin-right: 15px;
		}

		
		/* кастомизация ссылок*/
		.header-navigation{
			margin-right: 10px;
		}
			.header-navigation__item{
				display: inline-block;
				color: white;
				text-transform: uppercase;
				padding:15px 15px;
				position: relative; /*ради того, что бы от него отсчитывать координаты полоски подчёркивания*/
			}
			.header-navigation__item_active{
				color: black;
				font-size: 20px;
				font-weight: 900;
				border: #fce38a 1px solid;
			}

			@media (max-width: 768px) {
				.header-navigation__item{
					padding:5px 5px;
				}
			}

			.header-navigation__item:after{ /*создаю подчёркивающий элемент под ссылками, но пока отключаю*/
				content: "";
				display: block;
				width: 100%;
				height: 3px;
				background-color: #fce38a;
				position: absolute; /* без него строка будет прыгать*/
				top: 100%; 
				left: 0;
				right: 0;
				opacity: 0;/*видимость этого блока*/
				transition: opacity .2s linear;
			}
			.header-navigation__item:hover{  /*меняю только цвет*/
				
				color: #fce38a;
				transition: color .2s linear;
			}
			.header-navigation__item:hover:after{/*так же включаю видимость у блока с подчёркиванием*/
				opacity: 1;
			}


/* === Intro  === */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


.intro{	/*блок-раздел, занимающий всю ширину что адекватно расположить в себе контейнер. */
	width: 100%;
	height: 100vh;
	background: url(img/BG-Intro.jpg) center no-repeat; /*движущийся фон*/ 
	background-size: cover; /*фон всегда на фулл*/

	/*inro у меня на всю видимую страницу. И уже в её пределах я могу раскладывать контент.*/
	display: flex; 
	flex-direction: column;
	justify-content: center;
	
}
	/*дополнительный класс создан для того, что бы расположить слайдер на этой странице в самом её низу (адаптив для разных экранов)*/
	.intro-container{
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		justify-content: space-between;
	}
	@media  (max-height: 360px) {/*при открытии на смартфонах в landscape режиме слишком маленькая высота экрана, и тогда из-за этого фон inner-a неотрисовывается под всеми элементами на этой странице*/
		.intro{
			display: flex;
			flex-direction: column; 
			min-height: 500px;
			justify-content: space-between;
		}
		
	} 
		/*внутренний контейнер для того, что бы обозначить зону заголовка*/
		.intro__inner{ 
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
			max-width: 900px;
			margin: 0 auto;
			
		}
			.intro__suptitle{
				margin-top: 150px; /*включать только через медиа-запрос, когда экран слишком узкий*/
				text-align: center;
				color: #ffffff;
				font-family: "Kaushan Script";
				font-size: 72px;
				font-weight: 400;
			}
			.intro__title{
				font-size: 4em;
				text-transform: uppercase;
				font-weight: 700;
				text-align: center;
				line-height: 1;
				
			}
				
			@media (max-width: 600px) {
				.intro__suptitle{
					margin-top: 100px;
					font-size: 3em;
				}			
				
			}
			@media (max-width: 360px) {
				.intro__suptitle{
					margin-top: 120px;
					font-size: 2em;
				}	
				.intro__title{
					font-size: 2.5em;			
				}			
				
			} 

			/*линия после заголовка используется часто, по этому указана как отдельный блок*/
			.after-title-line{ 
				display: block;
				width: 60px;
				height: 3px;
				margin: 70px 0 50px 0;
				background-color: white;
			}
			@media (max-width: 600px) {
				.after-title-line{ 
					margin: 35px 0 30px 0;
					background-color: white;
				}			
				
			}
			@media (max-width: 360px) {
				.after-title-line{ 
					margin: 35px 0 20px 0;
					background-color: white;
				}	
			} 
			/*эту же линию могу сделать и через after, но она не однотипна по всему сайту и стилизовать её в последствии было бы сложнее
			.intro__title:after{
				content:"";
				display:block;
				width:60px;
				height:3px;
				background-color:white;
			}
			*/
			.intro__button{
				border: 3px solid white;
				text-transform: uppercase;
				font-weight: 700;
				padding: 10px 25px;
				font-size: 14px;
				color: white;
				transition: background .3s linear, color .3s linear ;
			}

			.intro__button:hover{
				color:#333;
				background-color: white;
			}

		/* intro-slider */
		.intro-slider{
			display: flex;
			justify-content: space-between;
			color: white;
			margin: 10px 25px;
			
		}

			.intro-slider__item{
				width: 23%; /*ширина во флексах мне, в принципе, не нужна, но ради я делаю верхнюю границу у блока, а размер блока = контенту.*/
				border-top: 3px solid #ffffff;
				font-size: 18px;
				text-transform: uppercase;
				padding-top: 15px;
				opacity: 0.5;
				position: relative;
			}
			@media (max-width: 768px) {
				.intro-slider__item{
					font-size: 2.4vw;
				}
			} 
			@media (max-width: 480px) {
				.intro-slider__item{
					font-size: 4vw;
				}
				.intro-slider__item-number{
					font-size: 10vw;
				}
			} 
			/*модификатор выбранного слайдера*/
			.intro-slider__item-active{
				opacity: 1;
			}
			/*сомнительны преимущества использования псевдоэлементов для создания блочных элементов (для работы с ними в будущем в js, но пока буду реализховывать их таким образом)*/
			.intro-slider__item-active:before{ 
				display: block;
				content: "";
				width: 30px;
				height: 3px;
				background-color: red;
				position: absolute;  /*не забывать включать абсолют, иначе не смогу выставить элемент по координатам*/
				top:-3px;
				
			}

			.intro-slider__item-number{
				font-size: 24px;
				font-weight: 700;
			}

/* === About === */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

    .title-section {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 100px;
		position: relative;
    }
        .sup-title {
			color: #333333;
			font-family: "Kaushan Script";
			font-size: 24px;
			font-weight: 400; 
			margin-bottom: 20px;
        }
        .title {
			color: #333333;
			font-family: Montserrat;
			font-size: 30px;
			font-weight: 700;
			text-transform: uppercase;
		}
		.line{
			height: 3px;
			width: 60px;
			background-color: red;
			margin-top: 40px;
			margin-bottom: 50px;
		}
        .description {
			color: #999999;
			font-family: Roboto;
			font-size: 15px;
			font-weight: 400;
			line-height: 24px;
			text-align: center;
			max-width: 950px;
			margin-bottom: 100px;
			margin-left: 25px;
			margin-right: 25px;
		}
		
    .about-content__row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-bottom: 100px;
		justify-content: space-evenly;
    }
        .about_photo {
			margin: 10px 5px;
			
		}
		
		@media (max-width: 860px) {
			.about_photo {
				margin: 10px 10px;
				width: 95%;
				
			}
			.about_photo:last-child{
				margin-right: 10px;
			}
			
		}


/* === Achievement-counter === */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
	
.achievement-counter{
	background-color: #95e1d3;
}
	.achievment__container{
		display: flex;
		flex-direction: row;
	}
		.achievment-item{
			text-align: center;
			width: 20%;
			background-color: white;
			align-content: center;
			background-color: #95e1d3;
			border-left: 1px solid #b5eae0;
		}
		.achievment-item:last-child{
			
			border-right: 1px solid #b5eae0;
		}
			.achievment-item__number{
				color: #ffffff;
				font-family: Montserrat;
				font-size: 4em;
				font-weight: 700;
				text-transform: uppercase;
				margin-top: 50px;
			}
			@media (max-width: 480px) {
				.achievment-item__number{
					
					font-size: 3em;
					
				}
				
			}
			.achievment-item__desc{
				margin-top: 30px;
				color: #ffffff;
				font-family: Montserrat;
				font-size: 14px;
				font-weight: 400;
				text-transform: uppercase;
				margin-bottom: 50px;

			}
				
/* === Services === */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.services__collection {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 120px;
}
    .collection-item {
		display: flex;
		flex-direction: row;
		max-width: 30%;
		margin:50px 10px
	}
	
	@media (max-width: 860px) {
		.collection-item {
			
			max-width: 45%;
			margin:50px 10px
		}
		.service__collection_separator{
			display: none;
		}
		
	}
	@media (max-width: 480px) {
		.collection-item {
			
			max-width: 95%;
			margin: 25px 10px
		}
	
		
	}


        .collection-item__icon {
            margin-right: 30px;
        }
        
            .collection-item__title {
				color: #333333;
				font-family: Montserrat;
				font-size: 14px;
				font-weight: 700;
				text-transform: uppercase;
				margin-bottom: 20px;
            }
            .collection-item__desc {
                color: #999999;
				font-family: Roboto;
				font-size: 15px;
				font-weight: 400;
				line-height: 24px;
			}
			hr{
				height: 1px;
				width: 100%;
				margin:0 10px;
				background-color: #e5e5e5;
			}
/* === Design === */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.design{
	min-height: 850px;
	width: 100%;
	background: url(img/BG-design.png) no-repeat center;
	background-size: cover;
	position: relative;
}

	.devices__tablet{
		position: absolute;
		bottom: 0;
		margin-left: 15%;
		max-width: 80%;
	}
	.devices__smartphone{
		position: absolute;
		bottom: -75px;
		right: 0;
		margin-right: 35%;
		max-width: 50%;
	}
	@media (max-width: 860px) {
		.devices__tablet{
			position: absolute;
			bottom: 0;
			margin-left: 5%;
			max-width: 80%;
		}
		.devices__smartphone{
			position: absolute;
			bottom: -75px;
			right: 0;
			margin-right: 15%;
			max-width: 50%;
		}
	}
	@media (max-width: 480px) {
		.devices__tablet{
			margin-left: 5%;
		}
		.devices__smartphone{
			margin-right: 5%;
		}
		
	}

/* === whatWeDo === */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


.whatWeDo__container  {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 100px;
}
	.whatWeDo__content{ /*подкорректировать отступы, при малых размерах экрана*/
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-wrap: wrap;
		margin-bottom: 15px;
		
	}
	.whatWeDo__content-image{
		margin-right: 30px;
		width: 48%;
		margin-bottom: 15px;

	}
	.whatWeDo__content-accordion{
		max-width: 48%;

	}
	@media (max-width: 860px) {
		.whatWeDo__content-image{
			width: 95%;
			margin-right: 0px;
		}
		.whatWeDo__content-accordion{
			max-width: 95%;
		}
		
	}

		/* Accordeon*/
		/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
		* {
			box-sizing: border-box;
		}
		
		body {
			margin: 0;
			padding: 0;
		}
		
		h1 {
			margin: 50px 0 20px;
			font-weight: 100;
			text-align: center;
		}
		
		.all {
			text-align: center;
		}
		.all input[type="checkbox"] {
			display: none;
		}
		.all input[type="checkbox"]:checked + label {
			background-color: #2980b9;
			color: white;
		}
		.all input[type="checkbox"]:checked + label:before {
			content: 'Close All';
		}
		.all label {
			position: relative;
			margin: 0;
			padding: 5px 30px;
			font-size: 14px;
			font-weight: 300;
			color: #2980b9;
			background-color: white;
			border: 1px solid #2980b9;
			border-radius: 99px;
		}
		.all label:before {
			content: 'Open All';
		}
		
		.accordion {
			position: relative;
			/*width: 80%;*/
			/*margin: 50px auto;*/
			/*box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);*/
		}
		.accordion .trigger #checkbox-1,
		.accordion .trigger #checkbox-2,
		.accordion .trigger #checkbox-3 {
			display: none;
		}
		.accordion .trigger #checkbox-1:checked + label,
		.accordion .trigger #checkbox-2:checked + label,
		.accordion .trigger #checkbox-3:checked + label {
			background-color: white;
		}
		.accordion .trigger #checkbox-1:checked + label i:before,
		.accordion .trigger #checkbox-2:checked + label i:before,
		.accordion .trigger #checkbox-3:checked + label i:before {
			transform: translate(5px, 8px) rotate(45deg);
		}
		.accordion .trigger #checkbox-1:checked + label i:after,
		.accordion .trigger #checkbox-2:checked + label i:after,
		.accordion .trigger #checkbox-3:checked + label i:after {
			transform: translate(-5px, 8px) rotate(-45deg);
		}
		.accordion .trigger .checkbox {
			position: relative;
			display: block;
			width: 100%;
			margin: 5px 0 0 0;
			padding: 20px;
			color: #333333;
			cursor: pointer;
			background-color: white;
			border: 1px solid grey;
		}
		.accordion .trigger .checkbox i {
			position: absolute;
			display: inline-block;
			width: 20px;
			height: 20px;
			right: 20px;
		}
		.accordion .trigger .checkbox i:before, .accordion .trigger .checkbox i:after {
			position: absolute;
			content: '';
			width: 16px;
			height: 3px;
			background-color: white;
			transition: transform 250ms ease;
		}
		.accordion .trigger .checkbox i:before {
			transform: translate(-5px, 8px) rotate(45deg);
		}
		.accordion .trigger .checkbox i:after {
			transform: translate(5px, 8px) rotate(-45deg);
		}
		.accordion .trigger .content {
			position: relative;
			max-height: 1px;
			padding: 0;
			overflow-y: scroll;
			font-size: 14px;
			line-height: 1.5;
			background-color: white;
			transition: max-height 500ms ease-in-out;
			border: 1px solid grey;
		}
		.accordion .trigger .content h3 {
			margin: 30px 0 15px 30px;
		}
		.accordion .trigger .content p {
			margin: 0 30px 30px;
		}
		
		#checkbox-1:checked ~ .content,
		#checkbox-2:checked ~ .content,
		#checkbox-3:checked ~ .content {
			max-height: 350px;
			transition: max-height 500ms ease-in-out;
		}

/* === Quote === */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.quote{
	background-color: #f8f8f8;
	

}
	.quote__container{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		margin: 60px auto;
		padding: 5px;
		
	}
	@media (max-width: 860px) {
		.quote__icon{
			width: 30%;
		}
		.quote__container{
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			
		}
	}
		
		.quote__text{
			margin-left: 20px;
			position: relative;
		}
			.quote__text-quote{
				color: #999999;
				font-family: Roboto;
				font-style: italic;
				font-size: 24px;
				font-weight: 400;
				line-height: 36px;
			}
			@media (max-width: 860px) {
				.quote__text-quote{
					font-size: 20px;
				}
				
			}
			
			.quote__text-author{
				color: #333333;
				font-family: "Kaushan Script";
				font-size: 24px;
				font-weight: 400;
				margin-left: 60px;
			}
			.quote__text-author:before{
				display: block;
				content: "";
				width: 60px;
				height: 3px;
				background-color: red;
				position: absolute;  /*не забывать включать абсолют, иначе не смогу выставить элемент по координатам*/
				left:-5px;
				bottom: 10px; /*bottom хорош тем, что не ломается при смене размера экрана. Элемент никуда не "убегает"*/
				
			}


/* === Team === */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.team__container{
	display: flex;
	flex-direction: column;
	align-items: center;
}
	.team__gallery{
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
		align-items: flex-start;
		margin-bottom: 115px;
	}
		.team__gallery-item{
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 0 15px 30px 0;
			min-width: 140px;
			min-height: 140px;
			
		}
		
			.team__gallery-item_name{
				margin: 30px 0 15px 0;
				color: #333333;
				font-family: Montserrat;
				font-size: 14px;
				font-weight: 700;
				text-transform: uppercase;
				text-align: center;
			}
			.team__gallery-item_role{
				color: #999999;
				font-family: Roboto;
				font-style: italic;
				font-size: 15px;
				font-weight: 400;
				line-height: 24px;
			}
			@media (max-width: 860px) {
				.team__gallery-item{
					width: 95%;
					margin-right: 0px;
				}
				.team__gallery-item_photo{
					width: 95%;
				}
				.team__gallery-item_name{
					
					font-size: 28px;
					
				}
				.team__gallery-item_role{
					font-size: 20px;
				}
				
			}
		.team__gallery-item:last-child{
			margin-right: 0;
		}

/* === Work-samples === */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.work-samples{
	background-color: #f8f8f8;
}

	.work-samples__container{
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			align-items: center;
			flex-wrap: wrap;
			padding: 25px 0;
		}

/* === Some-work === */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.some-work__container{
	display: flex;
	flex-direction: column;
	align-items: center;
}
	

	.some-work__quote-container{
		display: flex;
		flex-direction: row;
		align-items: center;
		margin: 100px 0 130px 0;
	}

		@media (max-width: 860px) {
			.some-work__quote-container{
				display: flex;
				flex-direction: row;
				align-items: flex-start;
				margin: 100px 0 130px 0;
			}
		}
			
			
/* === WhatPeopleSay === */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.whatPeopleSay{
	background: url(img/BG-WhatPeopleSay.png) center no-repeat;
	background-size: cover;
}	

	.whatPeopleSay__quote-container{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-top: 40px;
	}
		.quote-container-item{
			display: flex;
			flex-direction: row;
			max-width: 47%;
			margin-bottom: 80px;
			align-items: center;
			margin: 10px;
			align-items: flex-start;
		}

			@media (max-width: 860px) {
				.quote-container-item{
				
					max-width: 95%;
				}
			}
			.whatPeopleSay__text{
				margin-left: 15px;
				position: relative;
			}

				.whatPeopleSay__text_author{
					color: #333333;
					font-family: Montserrat;
					font-size: 14px;
					font-weight: 700;
					text-transform: uppercase;
					margin-bottom: 15px;
				}
				.whatPeopleSay__text_role{
					color: #333333;
					font-family: 'Roboto',  sans-serif;
					font-size: 15px;
					font-weight: 400;
					line-height: 24px;
					margin-bottom: 40px;
				}
				.whatPeopleSay__text_quote{
					color: #999999;
					font-family: Roboto;
					font-size: 15px;
					font-weight: 400;
					line-height: 24px;
				}
				.whatPeopleSay__text_quote::before{
					content: "";
					width: 60px;
					height: 3px;
					background-color: #ff0000;
					position: absolute;
					top: 70px;
				}
/* === Blog === */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.blog__container{
	display: flex;
	flex-direction: column;
	align-items: center;
}
	.blog-row{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
		.blog-row__post{
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			/*width: 80%; медиазапрос при адаптиве*/
			max-width: 370px;
			margin: 0 15px 115px 15px;
			position: relative;
		}
		
	
	
		
			.post__img{
				width: 100%;
			}
			.post__title{
				
				color: #333333;
				font-family: Montserrat;
				font-size: 14px;
				font-weight: 400;
				text-transform: uppercase;
				margin: 20px 0;
			}
			.post__description{
				
				color: #999999;
				font-family: Roboto;
				font-size: 15px;
				font-weight: 400;
				line-height: 24px;
				text-align: left;
				margin: 0px;
				margin-bottom: 40px;

			}
			.post__line{
				width: 100%;
				height: 1px;
				background-color: #e5e5e5;
				margin-bottom: 10px;
				margin-left: 0;
			}

			.post__date-frame{
				position: absolute;
				width: 60px;
				height: 70px;
				background-color:#95e1d3;
				top:150px;
				left: -10px;
				text-align: center;
				padding-top: 15px;

			}
		
			
				.frame__number{

					color: #ffffff;
					font-family: Roboto;
					font-style: italic;
					font-size: 30px;
					font-weight: 700;
					text-transform: uppercase;

				}
				.frame__month{
					color: #ffffff;
					font-family: Roboto;
					font-style: italic;
					font-size: 15px;
					font-weight: 400;
				}
			.post__counters-view{
				margin-left: 30px;
				display: inline-block;
			}
				.post__counters-view::before{
					position: absolute;
					left: 0px;
					content:url(img/VIEW.png);
					background-size: auto;
				}
			.post__counters-commentary{
				margin-left: 40px;
				display: inline-block;
			}	
				.post__counters-commentary::before{
					position: absolute;
					left: 80px;
					content:url(img/SPEECH_BUBBLE_2.png);
					background-size: auto;
				}

				@media (max-width: 1200px) {
					.blog-row__post{
						max-width: 45%;
						margin: 0 15px 115px 15px;
						position: relative;
					}
				}
				@media (max-width: 768px) {
					.post__date-frame{
						top:100px;
					}
				}
				@media (max-width: 600px) {
					
					.blog-row__post{
						max-width: 95%;	
					}
					.post__date-frame{
						top:50px;
					}
					
				}
				
				


/* === Footer === */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.footer{
	
	background-color: #f8f8f8;
	position: relative;
}
.footer__container{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}	
	.footer__row-content{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.item-of-footer{
		margin: 20px 5px;
	}
	@media (max-width: 1100px) {
		.item-of-footer{
			min-width: 45%;
			
		}
		.footer__row-content{
			justify-content: center;
		}
	}
	@media (max-width: 600px) {
		.item-of-footer{
			min-width: 95%;
			
		}
	}
	/* Footer-resume */
	/*/////////////////////////////////////////////////*/
	
	.footer-resume{
		 /* в виду частой необходимости однотипного указания разметки, думаю в следующем проекте применить принцип как в бутстрапе: стилизовать блок набором готовых классов: "f-d--column; a-i--f-s"*/
		 flex-direction: column;
		 align-items: flex-start;
		 max-width: 40%;
	}
	
		.footer__logo{
			
			color: #cccccc;
			font-family: Montserrat;
			font-size: 46px;
			font-weight: 700;
			margin-bottom: 45px;
		}
		.footer__description{
			color: #999999;
			font-family: Roboto;
			font-size: 15px;
			font-weight: 400;
			line-height: 24px;
			margin-bottom: 45px;
		}
	
			.total-followers__count{
				font-family: Montserrat;
				font-size: 18px;
				font-weight: 700;
				display: inline-block;
				color: #333333;
			}
			.total-followers__follow{
				font-family: Montserrat;
				font-weight: 400;
				color: #333333;
				display: inline-block;
			}
		.footer__line{
			margin: 20px 0 15px 0;/*можно было указать один класс для каждой похожей линии, но обратил на это внимание уже в самом конце работы. */
		}

		.footer__follow-us{
			display: flex;
			align-items: center;
			margin-bottom: 40px;
		}
			.footer__follow-us-label{
				color: #999999;
				font-family: 'Roboto';
  				font-style: italic;
				font-size: 15px;
				font-weight: 400;
				line-height: 24px;
				display: inline-block;
				margin-right: 10px;
			}
			.footer-follow__link{
				margin-right: 10px;
			}
		
		.footer__subscribe-block{
			width: 200px;
			height: 100px;
			padding: 30px;
			background-color: grey;
		}



	/* Footer-blogs */
	/*/////////////////////////////////////////////////*/
	.footer-blogs{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 28%;
		
	   }
	   .title-in-footer{
		   	color: #333333;
			font-family: Montserrat;
			font-size: 14px;
			font-weight: 700;
			text-transform: uppercase;
			margin-bottom: 40px;
	   }
	   .footers-blogs__item{
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			margin-bottom: 30px ;
		   }
		   	.blogs__item-img{
				   flex-shrink: 0;
			   }
	   		.blogs__item-text{
				display: flex;
				flex-direction: column;
				margin-left: 15px;
			}
				.blogs__item-title{
					color: #333333;
					font-family: Montserrat;
					font-size: 12px;
					font-weight: 700;
					line-height: 18px;
					text-transform: uppercase;
				}
				.blogs__item-dateOfPublish{
					color: #999999;
					font-family: Roboto;
					font-style: italic;
					font-size: 13px;
					font-weight: 400;
					line-height: 24px;
				}

		/* Footer-instagram */
	/*/////////////////////////////////////////////////*/
   	.footer-instagram{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 28%;
	}
		.footer-instagram__imgs{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			flex-shrink: 0;
		}
			.footer-instagram__photo-item{
				margin: 3px;
				
			}

			@media (max-width: 1100px) {
				.footer-instagram{
					width: 100%;
					align-items: center;
				}
			}
/* === Afte__row === */
.after__row-content_line{
	width: 95%;
	margin-bottom: 100px;
	margin: 70px auto 24px;
}
	.footer__copyright-block{
		align-self: center;
		 margin-bottom: 22px;
	}
		.footer__copyright-text{
			display: inline;
				
			color: #333333;
			font-family: Montserrat;
			font-size: 14px;
			font-weight: 700;
		}
		.footer__copyright-author-name{
			display: inline;
				
			color: #333333;
			font-family: Montserrat;
			font-size: 14px;
			font-weight: 400;
			color: #f38181;
		}